@using GoldShop.Domain.Entity.Product
@using GoldShop.Comman
@{
    Layout = "_Layout";
    List<Product> products = ViewBag.products;
    SearchHistory searchHistory = ViewBag.searchHistory;
    List<Category> cats = ViewBag.Cats;
    GoldPrice goldPrice = ViewBag.Curency;
}

@section GoldPrice
{
    <div class="d-flex justify-content-between gap-3">
        <div class="d-flex justify-content-center text-white">
            قیمت طلا : @goldPrice.YekGram18
        </div>
    </div>

}

@section Currency
{
    <ul class="nav align-items-center">
        <li class="language">
            قیمت دلار : @goldPrice.Dollar
        </li>
        <li class="curreny-wrap">
            قیمت یورو : @goldPrice.Euro
        </li>
        <li class="curreny-wrap">
            قیمت درهم : @goldPrice.Derham
        </li>
        <li class="curreny-wrap">
            قیمت انس طلا : @goldPrice.OunceTala
        </li>
        <li class="curreny-wrap">
            قیمت سکه گرمی : @goldPrice.SekehGerami
        </li>
    </ul>
}

@section Seke
{
    <ul class="my-account-container">
        <li>
            قیمت سکه ربع : @goldPrice.SekehRob
        </li>
        <li>
            قیمت سکه نیم : @goldPrice.SekehNim
        </li>
        <li>
            قیمت سکه تمام : @goldPrice.SekehTamam
        </li>
        <li>
            قیمت سکه امام : @goldPrice.SekehEmam
        </li>
    </ul>}

@section menu
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

@section menu2
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

<input value="@searchHistory.Id" hidden="hidden" id="id"/>
<input value="@searchHistory.Search" hidden="hidden" id="search"/>
<div class="main-content-wrap shop-page section-ptb">
<div class="container">
<div class="row">
<div class="col-lg-3 order-lg-1 order-2">
    <!-- shop-sidebar-wrap start -->
    <div class="shop-sidebar-wrap">
        <div class="shop-box-area">

            <!--sidebar-categores-box start  -->
            <div class="sidebar-categores-box shop-sidebar mb-30">
                <h4 class="title">دسته بندی محصولات</h4>
                <!-- category-sub-menu start -->
                <div class="category-sub-menu">
                    <ul>
                        @{
                            foreach (var i in cats)
                            {
                                <li >
                                    <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <!-- category-sub-menu end -->
            </div>
            <!--sidebar-categores-box end  -->

            <!-- shop-sidebar start -->
            <div class="shop-sidebar mb-30">
                <h4 class="title">جستجو بر اساس قیمت</h4>
                <!-- filter-price-content start -->
                <div class="filter-price-content">
                    <form action="#" method="post">
                        <div id="price-slider" class="price-slider"></div>
                        <div class="filter-price-wapper">
                            <a class="add-to-cart-button" type="button" onclick="filterByPrice()">
                                <span>فیلتر جستجو</span>
                            </a>
                            <div class="filter-price-cont">
                                <span>قیمت:</span>
                                <div class="input-type">
                                    <input type="text" id="min-price" readonly=""/>
                                </div>
                                <span>—</span>
                                <div class="input-type">
                                    <input type="text" id="max-price" readonly=""/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- filter-price-content end -->
            </div>
        </div>
    </div>
    <!-- shop-sidebar-wrap end -->
</div>
<div class="col-lg-9 order-lg-2 order-1">
    <!-- shop-product-wrapper start -->
    <div class="shop-product-wrapper">
        <div class="row align-itmes-center">
            <div class="col">
                <!-- shop-top-bar start -->
                <div class="shop-top-bar">
                    <!-- product-view-mode start -->

                    <div class="product-mode">
                        <!--shop-item-filter-list-->
                        <ul class="nav shop-item-filter-list" role="tablist">
                            <li>
                                <a class="active grid-view" data-bs-toggle="tab" href="#grid">
                                    <i class="ion-ios-keypad-outline"></i>
                                </a>
                            </li>
                            <li class="active">
                                <a class=" list-view" data-bs-toggle="tab" href="#list">
                                    <i class="ion-ios-list-outline"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- shop-item-filter-list end -->
                    </div>
                    <!-- product-view-mode end -->
                    <!-- product-short start -->
                    <div class="product-short">
                        <p>مرتب‌ سازی بر اساس :</p>
                        <select class="nice-select" name="sortby">
                            <option value="sales">جدیدترین</option>
                            <option value="rating">ارزان‌ترین</option>
                            <option value="date">گران‌ترین</option>
                        </select>
                    </div>
                    <!-- product-short end -->
                </div>
                <!-- shop-top-bar end -->
            </div>
        </div>
        <!-- shop-products-wrap start -->
        <div class="shop-products-wrap">
            <div class="tab-content">
                <div class="tab-pane active" id="grid">
                    <div class="shop-product-wrap">
                        <div class="row row-8">
                            @{
                                foreach (var i in products)
                                {
                                    <div class="product-col col-lg-3 col-md-4 col-sm-6">
                                        <!-- Single Product Start -->
                                        <div class="single-product-wrap mt-10">
                                            <div class="product-image">
                                                <a href="@Url.Action("ProductDetail", "Home", new { id = i.Id })">
                                                    <img src="/Images/Product/@i.Image" class="image-size" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <div class="price-box">
                                                    <span class="new-price">@i.GoldPrice.PricePerGram.GetPrice(i.Weight, i.WagesAmount, i.WagesPercentage).ToString("n0") تومان</span>
                                                </div>
                                                <h6 class="product-name">
                                                    <a href="@Url.Action("ProductDetail", "Home", new { id = i.Id })">@i.Name </a>
                                                </h6>
                                                <div class="product-button-action">
                                                    <a href="@Url.Action("ProductDetail", "Home", new { id = i.Id })" class="add-to-cart" aria-readonly="true">مشاهده</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Product End -->
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="list">
                    @{
                        foreach (var i in products)
                        {
                            <div class="shop-product-list-wrap">
                                <div class="row product-layout-list">
                                    <div class="col-lg-3 col-md-3">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product">
                                            <div class="product-image">
                                                <a href="@Url.Action("ProductDetail", "Home", new { id = i.Id })">
                                                    <img src="/Images/Product/@i.Image" alt="Produce Images">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="product-content-list text-end">
                                            <div class="price-box">
                                                <span class="new-price">@i.GoldPrice.PricePerGram.GetPrice(i.Weight, i.WagesAmount, i.WagesPercentage).ToString("n0") تومان </span>
                                            </div>
                                            <p>
                                                <a href="@Url.Action("ProductDetail", "Home", new { id = i.Id })" class="product-name">@i.Name</a>
                                            </p>

                                            <div class="product-rating">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#">
                                                            <i class="icon-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="icon-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="icon-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="icon-star"></i>
                                                        </a>
                                                    </li>
                                                    <li class="bad-reting">
                                                        <a href="#">
                                                            <i class="icon-star"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p>@i.Desc</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3">
                                        <div class="block2">
                                            <div class="product-button">
                                                <ul class="actions">
                                                    <li class="quickviewbtn">
                                                        <a class="detail-link quickview" href="@Url.Action("ProductDetail", "Home", new { id = i.Id })"> <i class="icon-eye2"></i> مشاهده کالا</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- shop-products-wrap end -->

        <!-- paginatoin-area start -->
        <div class="paginatoin-area">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="pagination-box">
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a class="Next" href="#">بعدی</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- paginatoin-area end -->
    </div>
    <!-- shop-product-wrapper end -->
</div>
</div>
</div>
</div>

@section script
{
    <script>
        function extractNumber(value) {
            // حذف فضاهای اضافی و کاراکترهای غیر عددی (مانند کاما و تومان)
            return value.replace(/[^\d]/g, ''); // فقط اعداد را نگه می‌دارد
        }
    function filterByPrice(){
      

        const minPriceInput = document.getElementById("min-price").value.trim(); // trim برای حذف فضاهای اضافی
        const maxPriceInput = document.getElementById("max-price").value.trim(); // trim برای حذف فضاهای اضافی

        const minPrice = extractNumber(minPriceInput);
        const maxPrice = extractNumber(maxPriceInput);
console.dir(   `&minPrice=${minPrice}&maxPrice=${maxPrice}`)

        window.location.href= "/home/FilterByPrice?search="
        + document.getElementById("search").value
        +"&id="+document.getElementById("id").value+
               `&minPrice=${minPrice}&maxPrice=${maxPrice}`;

    }
 

    
    </script>


}