@using GoldShop.Domain.Entity.Product
@using GoldShop.Domain.Entity.User
@{
Layout = "_Layout";
List<Category> cats = ViewBag.Cats;
GoldPrice goldPrice = ViewBag.Curency;
List<State> states = ViewBag.State;
int basketCount = ViewBag.BasketCount;
}

@section GoldPrice
{
    <div class="d-flex justify-content-between gap-3">
        <div class="d-flex justify-content-center text-white">
            قیمت طلا : @goldPrice.YekGram18.ToString("N0")
        </div>
    </div>

}

@section Currency
{
    <ul class="my-account-container">
        <li class="language">
            قیمت دلار : @goldPrice.Dollar.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت یورو : @goldPrice.Euro.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت درهم : @goldPrice.Derham.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت انس طلا : @goldPrice.OunceTala.ToString("N0")
        </li>
    
    </ul>
}
@section Basket
{
    @if (User.Identity.IsAuthenticated)
    {
        <div class="shopping-cart-wrap">
            <a href="@Url.Action("Basket", "Basket")">
                <i class="icon-shopping-bag2 float-left"></i>
                <span class="cart-total">@basketCount</span>
            </a>
        </div>
    }
}
@section Seke
{
    <ul class="my-account-container">
        <li>
            قیمت سکه ربع : @goldPrice.SekehRob.ToString("N0")
        </li>
        <li>
            قیمت سکه نیم : @goldPrice.SekehNim.ToString("N0")
        </li>
        <li>
            قیمت سکه تمام : @goldPrice.SekehTamam.ToString("N0")
        </li>
        <li>
            قیمت سکه امام : @goldPrice.SekehEmam.ToString("N0")
        </li>
    </ul>}

@section menu
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

@section menu2
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

<div class="main-content-wrap section-ptb lagin-and-register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 m-auto">
                <div class="login-register-wrapper">
                    <!-- login-register-tab-list start -->
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4> کد تایید </h4>
                        </a>
                    </div>
                    <input type="text" value="@ViewBag.Phone" hidden="hidden" id="PhoneNumber">
                    <!-- login-register-tab-list end -->
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form asp-action="UserLogin" asp-controller="Home" method="post">
                                        <div class="login-input-box">
                                            <input type="text" id="Code" name="number" placeholder="کد یکبار مصرف را وارد کنید">
                                        </div>
                                        
                                        <div class="button-box">
                                            <div class="d-flex justify-content-between gap-3">
                                                <div class="button-box">
                                                    <a class="login-btn btn" onclick="Login()"><span>ارسال کد</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script
{
<script>
    function Login(){
        $.ajax({
            type: "Post",
            data: {phoneNumber:$('#PhoneNumber').val(),code:$('#Code').val()},
            url: "/Home/ValidateCode/",
            success: function (data) {
                window.location.href= `@Url.Action("Profile", "Home")`
            },
            error: function (xhr) {
                alert("کد وارد شده معتبر نمیباشد");
            }
        });
    }
</script>
}


