@using GoldShop.Domain.Entity.Product
@{
    Layout = "_Layout";
    List<Category> cats = ViewBag.Cats;
    GoldPrice goldPrice = ViewBag.Curency;
    int basketCount = ViewBag.BasketCount;
}

@section GoldPrice
{
    <div class="d-flex justify-content-between gap-3">
        <div class="d-flex justify-content-center text-white">
            قیمت طلا : @goldPrice.YekGram18.ToString("N0")
        </div>
    </div>

}

@section Currency
{
    <ul class="my-account-container">
        <li class="language">
            قیمت دلار : @goldPrice.Dollar.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت یورو : @goldPrice.Euro.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت درهم : @goldPrice.Derham.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت انس طلا : @goldPrice.OunceTala.ToString("N0")
        </li>
    
    </ul>
}
@section Basket
{
    @if (User.Identity.IsAuthenticated)
    {
        <div class="shopping-cart-wrap">
            <a href="@Url.Action("Basket", "Basket")">
                <i class="icon-shopping-bag2 float-left"></i>
                <span class="cart-total">@basketCount</span>
            </a>
        </div>
    }
}
@section Seke
{
    <ul class="my-account-container">
        <li>
            قیمت سکه ربع : @goldPrice.SekehRob.ToString("N0")
        </li>
        <li>
            قیمت سکه نیم : @goldPrice.SekehNim.ToString("N0")
        </li>
        <li>
            قیمت سکه تمام : @goldPrice.SekehTamam.ToString("N0")
        </li>
        <li>
            قیمت سکه امام : @goldPrice.SekehEmam.ToString("N0")
        </li>
    </ul>}

@section menu
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

@section menu2
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

<div class="main-content-wrap contact-wrap">
    <div class=" section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-info-wrap">
                        <div class="contact-title mb-30">
                            <h3>تماس باما</h3>
                        </div>
                        <div class="contact-info-text">
                            <ul>
                                <li>
                                    <div class="contact-title">
                                        <i class="fa fa-home"></i>
                                        <h4>آدرس ما</h4>
                                    </div>
                                    <p>تهران , شهر قدس خیابان طالقانی</p>
                                </li>
                                <li>
                                    <div class="contact-title">
                                        <i class="fa fa-phone"></i>
                                        <h4>شماره تلفن :</h4>
                                    </div>
                                    <p>
                                        <a href="tel:0213751877216">0213751877216</a>

                                    </p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="contact-info-wrap">
                        <div class="contact-title mb-30">
                            <h3>یک پیام برای ما بگذارید</h3>
                        </div>
                        <div class="contact-us-from-wrap">
                            <form  class="contact-us-box" asp-action="InsertMessage" asp-controller="Home" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single-input">
                                            <label> نام و نام خانوادگی</label>
                                            <input name="name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-input">
                                            <label> شماره تماس</label>
                                            <input name="number" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-input">
                                            <label>عنوان</label>
                                            <input name="subject" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-input">
                                            <label>متن پیام</label>
                                            <textarea name="message" ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-input">
                                            <button class="submit-button submit-btn" type="submit">ارسال</button>
                                            <p class="form-messege"></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>