@using GoldShop.Application.Common.Utilities
@using GoldShop.Domain.Entity.Factor
@using GoldShop.Domain.Entity.Product
@using GoldShop.Domain.Entity.User

@{
    Layout = "_Layout";
    List<Category> cats = ViewBag.Cats;
    GoldPrice goldPrice = ViewBag.Curency;
    GoldShop.Domain.Entity.User.User user = ViewBag.User;
    List<UserAddress> userAddresses = ViewBag.UserAddress;
    List<Factor> factors = ViewBag.Factor;
}

@section GoldPrice
{
    <div class="d-flex justify-content-between gap-3">
        <div class="d-flex justify-content-center text-white">
            قیمت طلا : @goldPrice.YekGram18
        </div>
    </div>

}

@section Currency
{
    <ul class="nav align-items-center">
        <li class="language">
            قیمت دلار : @goldPrice.Dollar
        </li>
        <li class="curreny-wrap">
            قیمت یورو : @goldPrice.Euro
        </li>
        <li class="curreny-wrap">
            قیمت درهم : @goldPrice.Derham
        </li>
        <li class="curreny-wrap">
            قیمت انس طلا : @goldPrice.OunceTala
        </li>
        <li class="curreny-wrap">
            قیمت سکه گرمی : @goldPrice.SekehGerami
        </li>
    </ul>
}

@section Seke
{
    <ul class="my-account-container">
        <li>
            قیمت سکه ربع : @goldPrice.SekehRob
        </li>
        <li>
            قیمت سکه نیم : @goldPrice.SekehNim
        </li>
        <li>
            قیمت سکه تمام : @goldPrice.SekehTamam
        </li>
        <li>
            قیمت سکه امام : @goldPrice.SekehEmam
        </li>
    </ul>}


@section menu
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

@section menu2
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index")">صفحه اصلی</a>
                    </li>
                    <li class="breadcrumb-item active">حساب کاربری</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb my-account-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="account-dashboard">
                    <div class="dashboard-upper-info">
                        <div class="row align-items-center no-gutters">
                            <div class="col-lg-4 col-md-12">
                                <div class="d-single-info">
                                    <p class="user-name">نام <span>@user.Name @user.Family</span></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="d-single-info">
                                    <p>شماره تماس</p>
                                    <p>@user.PhoneNumber</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="d-single-info">
                                    <p>کد ملی</p>
                                    <p>@user.NationalCode</p>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-2">
                            <!-- Nav tabs -->
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li>
                                    <a href="#orders" data-bs-toggle="tab" class="nav-link active">سابقه خرید</a>
                                </li>
                                <li>
                                    <a href="#address" data-bs-toggle="tab" class="nav-link">آدرس ها</a>
                                </li>
                                <li>
                                    <a href="#account-details" data-bs-toggle="tab" class="nav-link">ویرایش پروفایل</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout")" class="nav-link">خروج</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <!-- Tab panes -->
                            <div class="tab-content dashboard-content">
                                <div class="tab-pane show active" id="orders">
                                    <h3>سفارشات</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>سفارشات</th>
                                                <th>تاریخ</th>
                                                <th>وضعیت</th>
                                                <th>جمع کل</th>
                                                <th>مشاهده </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @{
                                                if (factors.Count > 0)
                                                {
                                                    foreach (var i in factors)
                                                    {
                                                        <tr>
                                                            <td>@i.Id</td>
                                                            <td>@i.InsertDate.ToPersianTime()</td>
                                                            <td>@i.Status.ToDisplay()</td>
                                                            <td>@i.Amount.ToString("N0") </td>
                                                            <td>
                                                                <a href="@Url.Action("OrderDetail","Home",new{@i.Id})" class="view">مشاهده</a>
                                                            </td>
                                                        </tr> 
                                                    }
                                                    
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>0</td>
                                                        <td></td>
                                                        <td>سفارشی یافت نشد</td>
                                                        <td> </td>
                                                    </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="address">
                                    <h4 class="billing-address">آدرس صورتحساب</h4>
                                    <a href="@Url.Action("AddressDetail","Home",new {@userAddresses.FirstOrDefault().Id})" class="view">ویرایش</a>
                                    <p class="biller-name">@userAddresses.FirstOrDefault().Name</p>
                                    <p>@userAddresses.FirstOrDefault().Address</p>
                                </div>
                                <div class="tab-pane fade" id="account-details">
                                    <h3>ویرایش پروفایل</h3>
                                    <div class="login">
                                        <div class="login-form-container">
                                            <div class="account-login-form">
                                                <form asp-action="EditeProfile" asp-controller="User">
                                                    <p>برای استفاده از تمامی خدمات سایت اطلاعات حساب خود را تکمیل کنید</p>
                                              
                                                    <div class="account-input-box">
                                                        <label>نام</label>
                                                        <input type="text" value="@user.Name" name="name">
                                                        <label>نام خانوادگی</label>
                                                        <input type="text" value="@user.Family" name="family">
                                                        <label>کد ملی</label>
                                                        <input type="text" value="@user.NationalCode" name="nationalCode">
                                                        <label>ایمیل</label>
                                                        <input type="text" value="@user.Email" name="email">
                                                        <label>شماره تماس</label>
                                                        <input type="text"  placeholder="" value="@user.PhoneNumber" readonly="readonly">
                                                    </div>
                                                
                                                    <div class="button-box">
                                                        <button class="btn default-btn" type="submit">ذخیره</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>