@using GoldShop.Comman
@using GoldShop.Domain.Entity.Product
@using GoldShop.Domain.Entity.User
@using GoldShop.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    List<Category> cats = ViewBag.Cats;
    List<CheckOutDto> products = ViewBag.BasketProd;
    GoldPrice goldPrice = ViewBag.Curency;
    List<PostMethod> postMethods = ViewBag.PostMethod;
    int basketCount = ViewBag.BasketCount;
}

@section GoldPrice
{
    <div class="d-flex justify-content-between gap-3">
        <div class="d-flex justify-content-center text-white">
            قیمت طلا : @goldPrice.YekGram18.ToString("N0")
        </div>
    </div>

}

@section Currency
{
    <ul class="my-account-container">
        <li class="language">
            قیمت دلار : @goldPrice.Dollar.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت یورو : @goldPrice.Euro.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت درهم : @goldPrice.Derham.ToString("N0")
        </li>
        <li class="curreny-wrap">
            قیمت انس طلا : @goldPrice.OunceTala.ToString("N0")
        </li>
    
    </ul>
}
@section Basket
{
    @if (User.Identity.IsAuthenticated)
    {
        <div class="shopping-cart-wrap">
            <a href="@Url.Action("Basket", "Basket")">
                <i class="icon-shopping-bag2 float-left"></i>
                <span class="cart-total">@basketCount</span>
            </a>
        </div>
    }
}
@section Seke
{
    <ul class="my-account-container">
        <li>
            قیمت سکه ربع : @goldPrice.SekehRob.ToString("N0")
        </li>
        <li>
            قیمت سکه نیم : @goldPrice.SekehNim.ToString("N0")
        </li>
        <li>
            قیمت سکه تمام : @goldPrice.SekehTamam.ToString("N0")
        </li>
        <li>
            قیمت سکه امام : @goldPrice.SekehEmam.ToString("N0")
        </li>
    </ul>}

@section menu
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

@section menu2
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">صفحه اصلی</a>
                    </li>
                    <li class="breadcrumb-item active">سبد خرید</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb cart-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="plantmore-product-thumbnail">تصویر محصول</th>
                                <th class="cart-product-name">نام محصول</th>
                                <th class="plantmore-product-price">قیمت</th>
                                <th class="plantmore-product-quantity">وزن</th>
                                <th class="plantmore-product-subtotal">جمع کل</th>
                                <th class="plantmore-product-remove">حذف محصول</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                if (products.Count > 0)
                                {
                                    foreach (var i in products)
                                    {
                                        <tr>
                                            <td class="plantmore-product-thumbnail">
                                                <a href="#">
                                                    <img src="/Images/Product/@i.Image" alt="" width="90">
                                                </a>
                                            </td>
                                            <td class="plantmore-product-name">
                                                <a href="#">@i.Name</a>
                                            </td>
                                            <td class="plantmore-product-price">
                                                <span class="amount">@i.GoldPrice.PricePerGram.GetPrice(i.Weight, i.WagesAmount, i.WagesPercentage).ToString("N0") تومان</span>
                                            </td>
                                            <td >
                                                <span>@i.Weight</span>
                                                <br/>
                                                @if (!string.IsNullOrEmpty(i.Size))
                                                {
                                                <span>سایز:@i.Size</span>
                                                }
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">@i.GoldPrice.PricePerGram.GetPrice(i.Weight, i.WagesAmount, i.WagesPercentage).ToString("N0") تومان</span>
                                            </td>
                                            <td class="plantmore-product-remove">
                                                <a href="@Url.Action("RemoveInBasket", "Basket", new { i.Id })">
                                                    <i class="icon-x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="plantmore-product-thumbnail">

                                        </td>
                                        <td class="plantmore-product-name">
                                        </td>
                                        <td class="plantmore-product-price">
                                            <span class="amount">سبد خالی</span>
                                        </td>
                                        <td class="plantmore-product-quantity">
                                        </td>

                                        <td class="plantmore-product-remove">

                                        </td>
                                    </tr>
                                }
                            }

                            </tbody>
                        </table>
                    </div>

                    <form asp-action="CheckOut" asp-controller="Basket"  method="post">
                        <div  class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                               
                                <tr class="shipping ">
                                    <td>
                                        <ul class="text-start mt-5 ">
                                            <li class="bold mb-3">
                                                روش ارسال
                                                <div class="payment-content p-2">
                                                    <p>ضمانت ارسال کالا های بالای 3,000,000 تومان شامل روش ارسال پست ویژه میباشد</p>
                                                </div>
                                            </li>
                                            @{
                                                foreach (var i in postMethods)
                                                {
                                                    if (i.IsFee)
                                                    {
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="postMethod" required="required" value="@i.Id">
                                                                <span class="amount">@i.Title - پس کرایه </span>
                                                            </label>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        var amount = i.Price == 0 ? "رایگان" : i.Price.ToString("n0");
                                                        <li>

                                                            <label>
                                                                <input type="radio" name="postMethod" value="@i.Id" required="required">
                                                                <span class="amount">@i.Title : @amount </span>
                                                            </label>
                                                        </li>
                                                    }
                                                }
                                            }


                                        </ul>
                                    </td>
                                </tr>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6  ml-auto">
                                <div class="cart-page-total">
                                    <h2>مجموع سبد</h2>
                                    @{
                                    if (products.Count > 0)
                                    {
                                    <ul>
                                        <li>جمع کل <span>@products.Sum(x => x.GoldPrice.PricePerGram.GetPrice(x.Weight, x.WagesAmount, x.WagesPercentage)).ToString("N0") تومان </span></li>
                                    </ul>
                                    <button type="submit" class="proceed-checkout-btn">ادامه فرایند پرداخت</button>
                                    }
                                    else
                                    {
                                    <ul>
                                        <li>سبد شما خالی است<span></span></li>
                                    </ul>
                                    }
                                    }
                                </div>
                            </div>

                        </div>
                     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->