@using GoldShop.Comman
@using GoldShop.Domain.Entity.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    List<Category> cats = ViewBag.Cats;
    List<CheckOutDto> products = ViewBag.BasketProd;
    GoldPrice goldPrice = ViewBag.Curency;
}

@section GoldPrice
{
    <div class="d-flex justify-content-between gap-3">
        <div class="d-flex justify-content-center text-white">
            قیمت طلا : @goldPrice.YekGram18
        </div>
    </div>

}

@section Currency
{
    <ul class="nav align-items-center">
        <li class="language">
            قیمت دلار : @goldPrice.Dollar
        </li>
        <li class="curreny-wrap">
            قیمت یورو : @goldPrice.Euro
        </li>
        <li class="curreny-wrap">
            قیمت درهم : @goldPrice.Derham
        </li>
        <li class="curreny-wrap">
            قیمت انس طلا : @goldPrice.OunceTala
        </li>
        <li class="curreny-wrap">
            قیمت سکه گرمی : @goldPrice.SekehGerami
        </li>
    </ul>
}

@section Seke
{
    <ul class="my-account-container">
        <li>
            قیمت سکه ربع : @goldPrice.SekehRob
        </li>
        <li>
            قیمت سکه نیم : @goldPrice.SekehNim
        </li>
        <li>
            قیمت سکه تمام : @goldPrice.SekehTamam
        </li>
        <li>
            قیمت سکه امام : @goldPrice.SekehEmam
        </li>
    </ul>}

@section menu
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

@section menu2
{
    @foreach (var i in cats)
    {
        <li>
            <a href="@Url.Action("Category", "Home", new { id = i.Id })">@i.Name</a>
        </li>
    }

}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">صفحه اصلی</a>
                    </li>
                    <li class="breadcrumb-item active">سبد خرید</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb cart-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" class="cart-table">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="plantmore-product-thumbnail">تصویر محصول</th>
                                <th class="cart-product-name">نام محصول</th>
                                <th class="plantmore-product-price">قیمت</th>
                                <th class="plantmore-product-quantity">وزن</th>
                                <th class="plantmore-product-subtotal">جمع کل</th>
                                <th class="plantmore-product-remove">حذف محصول</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                if (products.Count > 0)
                                {
                                    foreach (var i in products)
                                    {
                                        <tr>
                                            <td class="plantmore-product-thumbnail">
                                                <a href="#">
                                                    <img src="/Images/Product/@i.Image" alt="" width="90">
                                                </a>
                                            </td>
                                            <td class="plantmore-product-name">
                                                <a href="#">@i.Name</a>
                                            </td>
                                            <td class="plantmore-product-price">
                                                <span class="amount">@i.GoldPrice.PricePerGram.GetPrice(i.Weight, i.WagesAmount, i.WagesPercentage).ToString("N0") تومان</span>
                                            </td>
                                            <td class="">
                                                @i.Weight
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">@i.GoldPrice.PricePerGram.GetPrice(i.Weight, i.WagesAmount, i.WagesPercentage).ToString("N0") تومان</span>
                                            </td>
                                            <td class="plantmore-product-remove">
                                                <a href="@Url.Action("RemoveInBasket","Basket",new {i.Id})">
                                                    <i class="icon-x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="plantmore-product-thumbnail">
                                         
                                        </td>
                                        <td class="plantmore-product-name">
                                        </td>
                                        <td class="plantmore-product-price">
                                            <span class="amount">سبد خالی</span>
                                        </td>
                                        <td class="plantmore-product-quantity">
                                        </td>
                                    
                                        <td class="plantmore-product-remove">
                                         
                                        </td>
                                    </tr>
                                }
                            }

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ml-auto">
                            <div class="cart-page-total">
                                <h2>مجموع سبد</h2>
                                @{
                                 if (products.Count > 0)
                                 {
                                     <ul>
                                         <li>جمع کل <span>@products.Sum(x => x.GoldPrice.PricePerGram.GetPrice(x.Weight, x.WagesAmount, x.WagesPercentage)).ToString("N0") تومان </span></li>
                                     </ul>
                                     <a href="@Url.Action("CheckOut","Basket")" class="proceed-checkout-btn">ادامه فرایند پرداخت</a>
                                 }
                                 else
                                 {
                                     <ul>
                                         <li>جمع کل <span>0</span></li>
                                     </ul>
                                     <a href="@Url.Action("Index","Home")" class="proceed-checkout-btn">ادامه فرایند پرداخت</a>

                                 }
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->